@model TCC.UI.ViewsModels.Account.VMLogin

<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0);"><strong>Easy</strong> Test</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Área Administrativa</p>
        @using (Ajax.BeginForm(
            new AjaxOptions
            {
                Url = "/Admin/Login/Login",
                HttpMethod = "POST",
                OnComplete = "window.location.href = '/Admin';"
            }))
        {
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Digite seu e-mail" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <small>
                    @Html.ValidationMessageFor(m => m.Email)
                </small>
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password", @placeholder = "Digite sua senha" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <small>
                    @Html.ValidationMessageFor(m => m.Password)
                </small>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.DisplayNameFor(m => m.RememberMe)
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/iCheck")
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
}