@using TCC.UI.Areas.Admin.ViewsModels.Menu
@model VMMenu

@{
    ViewBag.Title = "Menu";
    var urlEdit = "Menu/Item";
    var urlMenuItem = "Admin/MenuItem/Index";
}

<div class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-table"></i> @ViewBag.Title</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Tabela de @ViewBag.Title</h3>
        </div>
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="col-sm-12">
                    <table id="Table" class="table table-bordered table-striped dataTable" role="grid">
                        <thead>
                            <tr>
                                <th width="100px">@Html.DisplayNameFor(m => m.Id)</th>
                                <th>@Html.DisplayNameFor(m => m.Title)</th>
                                <th width="5px"></th>
                            </tr>
                        </thead>
                        <tbody>                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Table").DataTable({
                data: @Html.Raw(Json.Encode(ViewBag.List)),
                columnDefs: [{
                    targets: 2,
                    orderable: false
                }],
                columns:
                [ 
                    @Helpers.ColumnEdit("Id", urlEdit),
                    @Helpers.ColumnEdit("Title", urlEdit),
                    @Helpers.ColumnIcon("fa fa-table", "menuItem")
                ],
                @Helpers.LanguageTable()
            });
        });

        @Helpers.AddPageAjax("menuItem", urlMenuItem, "Ajax_Update_Menu")
    </script>
}
