@model TCC.UI.ViewsModels.Account.VMLogin

<!-- Modal - Criar Conta -->
<div class="modal fade" id="ModalLogin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Boas-vindas de volta.</h4>
            </div>                
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form">
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <small>
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
                                </small>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                <small>
                                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block", @type = "Password" })
                                </small>
                            </div>
                            <small>
                                Não tem uma conta? <a href="#" onclick="showNewAccount()">Registre-se</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger pull-left" data-dismiss="modal" value="Fechar">
                    <input type="submit" class="btn btn-primary" value="Entrar">
                </div>
            }
        </div>
    </div>
</div>

