@model TCC.UI.ViewsModels.Account.VMNewAccount

<!-- Modal - Criar Conta -->
<div class="modal fade login" id="ModalNewAccount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Criar uma conta.</h4>
            </div>
            @using (Html.BeginForm("NewAccount", "Login", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form">
                        <div class="register-box-body">
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Digite seu nome" })
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                <small>
                                    @Html.ValidationMessageFor(m => m.Name)
                                </small>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Digite um e-mail" })
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                <small>
                                    @Html.ValidationMessageFor(m => m.Email)
                                </small>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Digite uma senha" })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                <small>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </small>
                            </div>
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confime sua senha" })
                                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                <small>
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </small>
                            </div>
                            <small>
                                <a href="#" onclick="showLogin()">Já tem uma conta?</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-danger pull-left" data-dismiss="modal" value="Fechar">
                    <input type="submit" class="btn btn-primary" value="Entrar">
                </div>
            }
        </div>
    </div>
</div>

