@model TCC.UI.ViewsModels.Account.VMNewAccount

<!-- Modal - Criar Conta -->
<div class="modal fade" id="ModalNewAccount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Criar uma conta</h4>
            </div>
            @using (Html.BeginForm("NewAccount", "Home", FormMethod.Post, new { @id = "FormNewAccount" }))
            {
                <div class="modal-body">
                    <div class="form">
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                <small>
                                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
                                </small>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <small>
                                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
                                </small>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password" })
                                <small>
                                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block" })
                                </small>
                            </div>
                            <div class="has-error form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type="Password" })
 
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-block" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fechar</button>
                    <input type="submit" class="btn btn-primary" value="Entrar">
                </div>
            }
        </div>
    </div>
</div>

