
@{
    ViewBag.Title = "Início";
}

<div class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ul class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> @ViewBag.Title</a>
        </li>
    </ul>
</div>
<div class="content">
    <h2>
        Bem-vindo aos <strong>Test Tutorials</strong>
    </h2>
    <p>
        Nossa plataforma é voltada a mostrar tutoriais de todas as metodologias e tecnicas voltadas para <strong>testes de Front-End</strong>, de modo mais interativo.
    </p>
    <p>
        Você pode fazer os tutoriais mesmo sem criar uma conta, mas o seu progresso <strong>expirará em 2 dias</strong> sem usar o site.
    </p>
    <br>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalLogin">Entrar</button>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalNewAccount">Criar Conta</button>
</div>

<!-- Modal - Criar Conta -->
<div class="modal modal-primary fade" id="ModalNewAccount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Crie sua conta.</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("NewAccount", "Home", FormMethod.Post))
                {
                    <div class="form">
                        <h4>Preencha os dados</h4>
                        <hr />
                        @Html.ValidationMessage("Error", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="form-group">
                                @Html.Label()
                                @Html.TextBoxFor(m => m.Number, new { @class = "form-control", placeholder = "Ex: 6582" })
                                <small>
                                    @Html.ValidationMessageFor(m => m.Number, null, new { @class = "text-danger" })
                                </small>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline">Save changes</button>
            </div>
        </div>
    </div>
</div>

