@using TCC.UI.Helpers.Toastrs

@helper ShowToastMessages(Toastr toastr)
{
    if (toastr != null)
    {
        <script type="text/javascript">
            $(() => {
            toastr.options.closeButton = '@toastr.ShowCloseButton';
            toastr.options.newestOnTop = '@toastr.ShowNewestOnTop';
            toastr.options.positionClass = '@toastr.PositionClass';

            @foreach (var message in toastr.ToastMessages)
            {
                var toastTypeValue = message.ToastType.ToString("F").ToLower();
                @: var optionsOverride = { /* Add message specific options here */ };
                if (message.IsSticky)
                {
                  @: optionsOverride.timeOut = 0;
                  @: optionsOverride.extendedTimeout = 0;
                }
                @: toastr['@toastTypeValue']('@message.Message', '@message.Title', optionsOverride);
            }
            });
        </script>
    }
}

@helper Column(string campo)
{
    @:  {
    @:      data: '@campo'
    @:  }
}

@helper ColumnEdit(string campo)
{
    @:  {
    @:      data: '@campo',
    @:      render: function(data, type, row) {
    @:          return '<a href="#" onclick="edit(' + row.Id + ')">' + data + '</a>';
    @:      }
    @:  }
}

@helper ColumnToAction(string icon, string ajax, string texto = "")
{
    @:  {
    @:      render: function(data, type, row) {
    @:          return '<a href="#" onclick="@ajax\(' + row.Id + '\)"><span class="@icon"></span>@texto</a>';
    @:      }
    @:  }
}

@helper LanguageTable()
{
    @:  language: {
    @:      decimal: "",
    @:      emptyTable: "Sem dados disponíveis na tabela",
    @:      info: "Página _PAGE_ de _PAGES_",
    @:      infoEmpty: "Sem registros disponíveis",
    @:      infoFiltered: "(filtrados do total de _MAX_ registros)",
    @:      infoPostFix: "",
    @:      thousands: ",",
    @:      lengthMenu: "_MENU_",
    @:      loadingRecords: "Carregando...",
    @:      processing: "Processando...",
    @:      search: "",
    @:      zeroRecords: "Não encontrado",
    @:      paginate: {
    @:          first: "Primeiro",
    @:          last: "Último",
    @:          next: "Avançar",
    @:          previous: "Voltar"
    @:      },
    @:      aria: {
    @:          sortAscending: ":ativado para ordenação ascendente",
    @:          sortDescending: ":ativado para ordenação descendente"
    @:      }
    @:  }
}

@helper  EditPageAjax(string url)
{
    @:  function edit(id, url) {
    @:      $.ajax({
    @:          type: 'GET',
    @:          url: '@url',
    @:          data: { 'id': id },
    @:          success: function(data) {
    @:              $('#Ajax_Update_Menu').empty().html(data);
    @:          }
    @:      });
    @:  }
}

@helper  AddPageAjax(string function)
{
    @:  function @function (id, url) {
    @:      $.ajax({
    @:          type: 'POST',
    @:          url: url,
    @:          data: { 'id': id },
    @:          success: function(data) {
    @:              $('#Ajax_Update_Menu').empty().html(data);
    @:          }
    @:      });
    @:  }
}

@helper  AddPageAjax(string function, string url)
{
    @:  function @function (id) {
    @:      $.ajax({
    @:          type: 'POST',
    @:          url: '@url',
    @:          data: { 'id': id },
    @:          success: function(data) {
    @:              $('#Ajax_Update_Menu').empty().html(data);
    @:          }
    @:      });
    @:  }
}

@helper LoadingPage()
{
    @:      <div id="Loading" style="display: none;">
    @:          <div class="overlay">
    @:              <img class="loading" src="/Content/AdminLTE/img/loading.svg" alt="Loading Gif">
    @:          </div>
    @:          <div class="overlay background-loading"></div>
    @:      </div>
}