
@helper PostitExampleHTML(string placeholder = "digite aqui...", string classCol = "col-sm-12 col-md-3", string addClassPostit = "")
{
    <div id="Example" style="display:none">
        <div id="Postit">
            <div class="@classCol to-remove">
                <div class="alert postit @addClassPostit  postit-send">
                    <div class="lines"></div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="@placeholder" id="Text">
                        <span class="input-group-btn">
                            <button class="btn btn-flat" id="Send">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="RemovePostit">
            <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
        </div>
        <div id="RemoveLinePostit">
            <a class="remove-line"><i class="fa fa-remove"></i></a>
        </div>
        <div id="PlusPostit">
            <div class="col-lg-2">
                <button id="AddPostit" class="btn btn-flat btn-board">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
}


@helper CreatePostit_1(List<TCC.Domain.Entities.ETCardActor> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3">
            <div class="alert postit">
                @foreach (var line in postit.CardLines)
                {
                    <p>@line.Line</p>
                }
            </div>
        </div>
    }
}


@helper CreatePostit_2(List<TCC.Domain.Entities.ETCardActor> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3 to-remove">
            <div class="alert postit alert-dismissable">
                <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
                <input type="hidden" id="Id" value="@postit.Id" />
                @foreach (var line in postit.CardLines)
                {
                    <div class="lines"><p>@line.Line</p></div>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_2(List<TCC.Domain.Entities.ETCardUserStory> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3 to-remove">
            <div class="alert postit alert-dismissable">
                <input type="hidden" id="Id" value="@postit.Id" />
                <input type="hidden" id="IdCardActor" value="@postit.IdCardActor" />
                <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
                @foreach (var line in postit.CardLines)
                {
                    <div class="lines"><p>@line.Line</p></div>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_2(List<TCC.Domain.Entities.ETCardBDD> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3 to-remove">
            <div class="alert postit alert-dismissable">
                <input type="hidden" id="Id" value="@postit.Id" />
                <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
                @foreach (var line in postit.CardLines)
                {
                    <div class="lines"><p>@line.Line</p></div>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_3(List<TCC.Domain.Entities.ETCardActor> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3">
            <div class="alert postit select alert-dismissable">
                <button type="button" class="close"></button>
                <input type="hidden" id="Id" value="@postit.Id" />

                @foreach (var line in postit.CardLines)
                {
                    <p>@line.Line</p>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_3(List<TCC.Domain.Entities.ETCardUserStory> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3">
            <div class="alert postit select">
                <button type="button" class="close"></button>
                @foreach (var line in postit.CardLines)
                {
                    <p>@line.Line</p>
                }
            </div>
        </div>
    }
}