
@helper PostitExampleHTML(string placeholder = "digite aqui...", string classCol = "col-sm-12 col-md-3", string addClassPostit = "")
{
    <div class="example" style="display:none">
        <div id="Postit">
            <div class="@classCol to-remove">
                <div class="alert postit @addClassPostit  postit-send">
                    <div class="lines"></div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="@placeholder" id="Text">
                        <span class="input-group-btn">
                            <button class="btn btn-flat" id="Send">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="RemovePostit">
            <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
        </div>
        <div id="RemoveLinePostit">
            <a class="remove-line"><i class="fa fa-remove"></i></a>
        </div>
        <div id="PlusPostit">
            <div class="col-lg-2">
                <button id="AddPostit" class="btn btn-flat btn-board">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
}

@helper BDDExampleHTML()
{
    <div class="example" style="display:none">
        <div id="AdditionalE">
            <p><span class="clickable continue">E: </span></p>
            <input type="hidden" id="IdChoice" value="none" />
        </div>
        <div id="FinalLine">
            <p><span class="clickable finish-card"><i class="fa fa-save"></i> </span></p>
        </div>
        <div id="GivenLine">
            <p><span class="clickable continue">Dado: </span></p>
            <input type="hidden" id="IdChoice" value="1" />
        </div>
        <div id="WhenLine">
            <p><span class="clickable continue">Quando: </span></p>
            <input type="hidden" id="IdChoice" value="2" />
        </div>
        <div id="ThenLine">
            <p><span class="clickable continue">Então: </span></p>
            <input type="hidden" id="IdChoice" value="3" />
        </div>
        <div id="AdditionalBut">
            <p><span class="clickable continue">Mas: </span></p>
            <input type="hidden" id="IdChoice" value="4" />
        </div>
        <div id="ChooseChoice">
            <p class="choice">Escolha entre:</p>
        </div>
    </div>
}


@helper CreatePostit_1(List<TCC.Domain.Entities.ETCardActor> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3">
            <div class="alert postit">
                @foreach (var line in postit.CardLines)
                {
                    <p>@line.Line</p>
                }
            </div>
        </div>
    }
}


@helper CreatePostit_2(List<TCC.Domain.Entities.ETCardActor> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3 to-remove">
            <div class="alert postit alert-dismissable">
                <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
                <input type="hidden" id="Id" value="@postit.Id" />
                @foreach (var line in postit.CardLines)
                {
                    <div class="lines"><p>@line.Line</p></div>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_2(List<TCC.Domain.Entities.ETCardUserStory> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3 to-remove">
            <div class="alert postit alert-dismissable">
                <input type="hidden" id="Id" value="@postit.Id" />
                <input type="hidden" id="IdCardActor" value="@postit.IdCardActor" />
                <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
                @foreach (var line in postit.CardLines)
                {
                    <div class="lines"><p>@line.Line</p></div>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_2(List<TCC.Domain.Entities.ETCardBDD> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3 to-remove">
            <div class="alert postit alert-dismissable">
                <input type="hidden" id="Id" value="@postit.Id" />
                <button type="button" class="close"><i class="fa fa-map-pin"></i></button>
                @foreach (var line in postit.CardLines)
                {
                    <div class="lines"><p>@line.Line</p></div>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_3(List<TCC.Domain.Entities.ETCardActor> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3">
            <div class="alert postit select alert-dismissable">
                <button type="button" class="close"></button>
                <input type="hidden" id="Id" value="@postit.Id" />

                @foreach (var line in postit.CardLines)
                {
                    <p>@line.Line</p>
                }
            </div>
        </div>
    }
}

@helper CreatePostit_3(List<TCC.Domain.Entities.ETCardUserStory> postits)
{
    foreach (var postit in postits)
    {
        <div class="col-sm-12 col-md-3">
            <div class="alert postit select">
                <button type="button" class="close"></button>
                @foreach (var line in postit.CardLines)
                {
                    <p>@line.Line</p>
                }
            </div>
        </div>
    }
}

@helper ProjectChoosed(TCC.Domain.Entities.ETProject project)
{
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h4>Projeto escolhido:</h4>
            <div class="alert postit">
                <h4>@project.Title</h4>
                <p>@project.Text</p>
            </div>
        </div>
    </div>
    <hr />
}