@model ETHistoric
@using TCC.Domain.Entities

<div class="content-header">
    <h1>
        Exportação do Projeto
    </h1>
    <div class="breadcrumb">
        @Ajax.ActionLink("Voltar", "Page_Final", "UserStory", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-warning" })
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="vertical-line"></div>
        <div class="vertical-line"></div>
        <div class="box-header with-border">
            <div class="col-lg-12">
                <div>
                    <h4>Segue o quadro com todas as informações atuais.</h4>
                    <p>Clique em exportar para baixar o arquivo em PDF</p>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="board">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h4>Projeto:</h4>
                        <div class="alert postit">
                            <h4>@Model.Project.Title</h4>
                            <p>@Model.Project.Text</p>
                        </div>
                    </div>
                    @Helpers.MessageBoard()
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <h4>User Stories:</h4>
                    </div>

                    @PostitHelpers.CreatePostit_1(Model.CardUserStories)
                </div>
                <div class="bottom-board">
                    @Helpers.BottomButtonBoard("ExportarButton", "Exportar")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ScriptExport")
}

