@model ETHistoric

@using TCC.Domain.Entities
@using TCC.Domain.Interfaces

<div class="content-header">
    <h1>
        Criação do BDD
    </h1>
    <div class="breadcrumb">
        @Ajax.ActionLink("Voltar", "Index", "BDD", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-warning" })

        @if (!Model.CardUserStories.Any(i => i.CardBDDs.Count == 0))
        {
            @Ajax.ActionLink("Continuar", "Page_Final", "BDD", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-primary" })
        }
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="col-lg-12">
                <div>
                    <h4>Siga o exemplo para começar a contruir os cartões do BDD.</h4>
                    <p>Utilize a lousa para escrever os cartões.</p>
                    <p><strong>Crie pelo menos um Cartão de BDD para cada Cartão de User Story.</strong></p>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="board">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Segue o exemplo abaixo:</h4>
                        <p>Pode-se adicionar a palavra chave E, quando for necessário adicionar uma sentença positiva.</p>
                        <p>As palavras E e Mas são opcionais.</p>

                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="alert postit">
                            <p>Cenário: << SITUAÇÃO QUE SERÁ VALIDADA >> </p>
                            <p>Dado: << PRÉ-CONDIÇÕES >></p>
                            <p>E: << ADICIONAL PARA DADO >></p>
                            <p>Quando: << AÇÃO DO SISTEMA >></p>
                            <p>E: << ADICIONAL PARA QUANDO >></p>
                            <p>Então: << RESULTADO >></p>
                            <p>E: << ADICIONAL PARA ENTÃO >></p>
                            <p>Mas: << RESULTADO NEGATIVO >></p>
                            <p>E: << ADICIONAL PARA MAS >></p>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" id="UserStories">
                    <div class="col-sm-12">
                        <h4>Cartões de User Story:</h4>
                    </div>

                    @PostitHelpers.CreatePostitWithNumber(Model.CardUserStories)
                </div>
                <hr />

                <div class="row" id="Append">
                    @Helpers.MessageBoard()

                    @PostitHelpers.CreatePostitBDDByUserStory(Model.CardUserStories)

                    <div class="bottom-board">
                        @Helpers.BottomButtonBoard()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@PostitHelpers.BDDExampleHTML()
@PostitHelpers.PostitExampleHTML("digite aqui...")

@section scripts {
    @Html.Partial("_ScriptPage_1")
}