@model ETHistoric

@using TCC.Domain.Entities
@using TCC.BusinessLayer.BusinessLayers

@{
    var projects = BLHistoric.GetProjectsOfUserForBDD();
}

<div class="content-header">
    <h1>
        Escolha de Projeto
    </h1>
    <div class="breadcrumb">
        @Ajax.ActionLink("Voltar", "Index", "Content/Index", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-warning" })

        @if (Model?.IdProject != null)
        {
            @Ajax.ActionLink("Continuar", "Page_1", "BDD", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-primary" })
        }
    </div>
</div>
<div class="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="col-lg-12">
                <div>
                    <h4>Para iniciarmos o tutorial, escolha um dos projetos já feitos.</h4>
                    <p>Selecione algum projeto abaixo:</p>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="board">
                <div class="row" id="Append">
                    @Helpers.MessageBoard()

                    @foreach (var item in projects)
                    {
                        <div class="col-lg-4">
                            <div class="alert postit select @(Model?.IdProject == item.Id ? "active" : string.Empty)">
                                <input type="hidden" name="IdProject" value="@item.Id" />
                                <h4>@item.Title</h4>
                                <p>@item.Text</p>
                            </div>
                        </div>
                    }

                    <div class="bottom-board">
                        @Helpers.BottomButtonBoard()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@PostitHelpers.PostitExampleHTML(classCol: "col-sm-12 col-md-4", addClassPostit: "select")

@section scripts {
    @Html.Partial("_ScriptPage_0")
}