@model TCC.Domain.Entities.Admin.ETContent

@{
    var urlTechnicalTutorial = "/TechnicalTutorial/Index";
}

<div class="content-header">
    <h1>
        @Model.Title
    </h1>
</div>
<div class="content">
    <div class="box">
        <div class="box-body">
            <div class="col-lg-12">
                @Html.Raw(Model.Text)
            </div>

            @if (!string.IsNullOrEmpty(Model.UrlDynamicTutorial))
            {
                <a onclick="newPage(null, '@Model.UrlDynamicTutorial')" class="btn btn-lg btn-warning pull-right">Tutorial Dinâmico</a>
            }

            @if ((bool)ViewBag.HasTechnicalTutorial == true)
            {
                <a onclick="newPage(@Model.Id, '@urlTechnicalTutorial')" class="btn btn-lg btn-primary pull-right" style="margin: 0px 15px 0px 0px">Tutorial Técnico</a>
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Prism")
}