@model TCC.UI.Areas.Admin.ViewsModels.Menu.VMMenuItem

@{
    ViewBag.Title = "Menu Item Detalhe";
}


<div class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
    <ul class="breadcrumb">
        @Ajax.ActionLink("Voltar", "Index", "MenuItem", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "Ajax_Update_Menu" }, new { @class = "btn btn-warning" })
    </ul>
</div>
<div class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Formulario de @ViewBag.Title</h3>
        </div>
        @using (Ajax.BeginForm(
            new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "Ajax_Update_Menu"
            }))
        {
            <div class="box-body">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Title)
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    <small>
                        @Html.ValidationMessageFor(m => m.Title)
                    </small>
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Order)
                    @Html.TextBoxFor(m => m.Order, new { @class = "form-control", @type = "number" })
                    <small>
                        @Html.ValidationMessageFor(m => m.Order)
                    </small>
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Url)
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                    <small>
                        @Html.ValidationMessageFor(m => m.Url)
                    </small>
                </div>
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m => m.Icon)
                    @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
                    <small>
                        @Html.ValidationMessageFor(m => m.Icon)
                    </small>
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Salvar</button>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/Scripts/Validate")
