
<div class="main-header">
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a href="#" onclick="reloadPage();" class="navbar-brand">      <i class="fa fa-gears"></i><strong>EASY TEST</strong></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Helpers.SocialMedias("facebook")
                        @Helpers.SocialMedias("google-plus")
                        @Helpers.SocialMedias("linkedin")
                        @Helpers.SocialMedias("twitter")
                        @Helpers.SocialMedias("skype")
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="navbar-collapse pull-left collapse" id="navbar-collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Conceitos</a></li>
                        <li><a href="#">Notícias</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="/Learnboard">Learn Board</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>