
<style>
    .main-header.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
</style>


<div class="main-header fixed">
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <a href="../../index2.html" class="navbar-brand"><strong>Easy</strong> Test</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Helpers.SocialMedias("facebook")
                        @Helpers.SocialMedias("google-plus")
                        @Helpers.SocialMedias("linkedin")
                        @Helpers.SocialMedias("twitter")
                        @Helpers.SocialMedias("skype")
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>